.korekthor-loading{
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    margin: 0;
    margin-right: 1rem;
  }

  &>p {
    margin: 0;
  }
}

.korekthor-none {
  img {
    border-radius: .25rem;
  }
}

.korekthor-sidebar-plugin {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}
