.korekthor-sidebar {
  padding: 1rem;
}

.korekthor-loading{
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    margin: 0;
    margin-right: 1rem;
  }

  &>p {
    margin: 0;
  }
}

.korekthor-none {
  img {
    border-radius: .25rem;
  }
}